h1{
  font-weight: 900;
  font-size: 40px;
  margin: 10px;
  margin-bottom: 20px;
}
input{
  
width: 100%;

}
.item-container{
  text-align: left;
}

.bi-row{
  margin: 10px 5px;
}

.bi-button{
   
  min-width: 80px;
  margin: 0px;
}
